@import "@/styles/variables";
@import "@/styles/mixins";

.container {
  .currencyWrapper {
    margin: -127px 33px 100px;
    padding: 24px 16px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: $white;

    @include media($medium) {
      max-width: 1126px;
      margin: -127px auto 200px;
      padding: 33px 42px;
    }

    .detailsWrapper {
      @include media($medium) {
        display: flex;
        justify-content: space-between;
        min-height: 200px;
      }

      .legalsWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-end;
      }
    }
  }
}
